.card {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-shadow: 0 1px 2px #000;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px #000;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    margin: 20px 0;
    min-height: 225px;
    padding: 10px;
    position: relative;
    width: 210px;
}

.game-home-team-indicator {
    background-color: #1E90FF;
    border-radius: 50%;
    bottom: 10px;
    display: none;
    height: 15px;
    position: absolute;
    right: 10px;
    width: 15px;
}

.game-number {
    font-size: 14px;
}

.game-team-container p:first-of-type {
    color: #B22222;
}

.glide {
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    margin: 0 auto;
    position: relative;
    width: 90%;
    box-sizing: border-box;
}

.glide * {
    box-sizing: inherit;
}

.glide__arrow {
    -webkit-transform: translateY(-50%);
    background-color: #000;
    border-radius: 5px;
    border: none;
    color: #1E90FF;
    cursor: pointer;
    opacity: 1;
    padding: 9px 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.glide__arrow:focus {
    outline: none;
}

.glide__arrow--left {
    left: -15px;
}

.glide__arrow--right {
    right: -15px;
}

.glide__arrow--disabled {
    opacity: 0.33;
}

.glide--swipeable {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.glide--dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


.glide__track {
    overflow: hidden;
}

.glide__slides {
    -ms-flex-wrap: nowrap;
    -ms-touch-action: pan-Y;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    touch-action: pan-Y;
    transform-style: preserve-3d;
    white-space: nowrap;
    width: 100%;
    will-change: transform;
}

.glide__slides--dragging {
    user-select: none;
}

.glide__slide {
    -moz-user-select: none;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-pack: center;
    -ms-user-select: none;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    justify-content: center;
    user-select: none;
    white-space: initial;
    width: 100%;
}

.glide__slide a {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.glide__arrows {
    -webkit-touch-callout: none;
    user-select: none;
}

.glide--rtl {
    direction: rtl;
}

.team-preseason-container {
    background-color: #DCDCDC;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.team-preseason-container h3 {
    font-size: 18px;
    padding: 10px 0;
}

.team-preseason {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.team-preseason-card {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-shadow: 0 1px 2px #000;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px #000;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    margin: 0 10px;
    min-height: 225px;
    padding: 10px;
    position: relative;
    width: 210px;
}

.team-preseason-card:first-of-type {
    margin: 0 10px 0 0;
}

.team-preseason-card:last-of-type {
    margin: 0 0 0 10px;
}

.team-schedule-container {
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    color: #000;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 10px auto 10px auto;
    width: 100%;
    /* outline: solid 1px blue; */
}

.team-schedule-heading-container {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0 10px 15px;
    text-align: left;
    /* outline: solid 1px blue; */
}

.team-schedule-heading-container div:first-of-type div:first-of-type {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.team-schedule-heading-container div:first-of-type div:first-of-type div {
    background-color: #1E90FF;
    border-radius: 50%;
    display: inline;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.team-schedule-heading-container div:first-of-type span {
    font-size: 14px;
}

.team-schedule-heading-container h2 {
    color: #000;
    font-size: 26px;
}

.team-schedule-heading-container p {
    color: #B22222;
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 1000px) {
    /* .card {
        height: 150px;
        width: 200px;
    } */
}

@media(max-width: 700px) {

    .glide__arrow:hover {
        opacity: 1;
    }

    .team-schedule-heading-container {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
    }

    .team-schedule-heading-container h2 {
        font-size: 24px;
    }
}

@media(max-width: 400px) {

    .team-schedule-heading-container {
        padding: 10px 20px 10px 10px;
    }

    .team-schedule-heading-container h2 {
        font-size: 18px;
    }

    .team-schedule-heading-container p {
        font-size: 16px;
    }
}