body {
  font-family: 'Quicksand', sans-serif;
}

.burger-menu {
  display: none;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.footer-logo {
  height: auto;
  margin: 5px auto 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

header h1 {
  background-color: #000;
  font-size: 30px;
  margin: 20px 10px;
}

.header-container {
  height: 0;
  width: 100%;
  position: relative;
}

.header-nav {
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-pack: start;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  height: 0;
  justify-content: flex-start;
  left: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

.main {
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  padding: 150px 20px 20px 20px;
}

.main-container {
  -webkit-box-shadow: 0 0 5px #808080;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #808080;
  min-height: 700px;
  outline: solid 1px #000;
  padding: 20px;
  width: 80%;
}

.main-header {
  font-size: 30px;
  /* outline: solid 1px blue; */
}

.main-header-container {
  border-bottom: solid 1px #000;
  position: relative;
  width: 100%;
}

.main-header-nav {
  -ms-flex-direction: row;
  -ms-flex-pack: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  /* background-color: red;
  height: 10px; */
}

.player-stats-close-button {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  right: -10px;
  top: 0;
}

.player-stats-container {
  -webkit-box-shadow: 0 0 5px #808080;
  -webkit-transform-origin: top;
  -webkit-transform: scaleY(0);
  -webkit-transition: opacity 250ms ease, height 500ms ease, -webkit-transform 500ms ease;
  background-color: #F5F5F5;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 5px #808080;
  font-size: 16px;
  height: 0;
  opacity: 0;
  /* overflow: hidden; */
  padding: 5px 20px 5px 0;
  position: relative;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 250ms ease, height 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 250ms ease, height 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 250ms ease, height 500ms ease, transform 500ms ease;
  width: 90%;
}

.player-stats li,
.single-team li {
  padding: 5px 0 5px 10px;
}

.player-stats li span:first-of-type,
.single-team li span:first-of-type {
  display: block;
  font-weight: bold;
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* single data ul in the little box */
.player-stats,
.single-team {
  text-align: left;
}

.single-team-close-button {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  right: -10px;
  top: 0;
}

.single-team-container {
  -webkit-box-shadow: 0 0 5px #808080;
  -webkit-transform-origin: top;
  -webkit-transform: scaleY(0);
  -webkit-transition: opacity 250ms ease, height 500ms ease, -webkit-transform 500ms ease;
  background-color: #F5F5F5;
  border-radius: 5px;
  border: solid 1px #000;
  box-shadow: 0 0 5px #808080;
  font-size: 16px;
  height: 0;
  opacity: 0;
  /* overflow: hidden; */
  padding: 5px 10px 5px 0;
  position: relative;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 250ms ease, height 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 250ms ease, height 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 250ms ease, height 500ms ease, transform 500ms ease;
  width: 90%;
}

.single-team-container-toggle {
  -webkit-transform: scaleY(1);
  height: 100%;
  opacity: 1;
  transform: scaleY(1);
}

.team-dropdown-name {
  position: relative;
}

.team-logo {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-transform: translateY(-50%);
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  /* outline: solid 1px blue; */
}

.team-logo img {
  height: auto;
  width: 100%;
}

.team-site {
  color: #1E90FF;
  font-weight: bold;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* outline: solid 1px red; */
}

.team-site i {
  left: calc(100% + 5px);
}

.teams-dropdown-button,
.team-roster-dropdown-button {
  -webkit-transition: background-color 150ms ease;
  background-color: #F5F5F5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: left;
  transition: background-color 150ms ease;
  width: 100%;
}

.teams-dropdown-button:hover,
.team-roster-dropdown-button:hover {
  background-color: #DCDCDC;
  /* outline: solid 1px blue; */
}

.teams-dropdown-container,
.team-roster-container {
  color: #000;
  position: relative;
  width: 250px;
  /* outline: solid 1px red; */
}

.teams-dropdown-container i,
.team-roster-container i {
  -webkit-transition: -webkit-transform 250ms ease;
  position: absolute;
  right: 20px;
  top: 10px;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease;
}

.teams-dropdown-list,
.team-roster-dropdown-list {
  -webkit-box-shadow: 0 0 5px #808080;
  -webkit-transition: height 250ms ease, opacity 250ms ease;
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0 0 5px #808080;
  height: 0;
  margin: 5px 0 0 0;
  opacity: 0;
  outline: solid 1px #000;
  overflow-y: scroll;
  text-align: left;
  transition: height 250ms ease, opacity 250ms ease;
  width: 100%;
}

.teams-dropdown-list li,
.team-roster-dropdown-list li {
  -webkit-transition: background-color 150ms ease;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 150ms ease;
}

.teams-dropdown-list li:hover,
.team-roster-dropdown-list li:hover {
  background-color: #DCDCDC;
}

/* has to be after the lists to work */
.dropdown-list-toggle {
  height: 300px;
  opacity: 1;
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transition: all 150ms ease;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  bottom: 15px;
  box-shadow: 0 0 5px #000;
  color: #1E90FF;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 35px;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: -60px;
  text-decoration: none;
  text-shadow: none;
  transition: all 150ms ease;
  width: 45px;
  z-index: 3;
}

@media (max-width: 1000px) {

  header h1 {
    font-size: 24px;
  }

  .main-container {
    padding: 15px;
    width: 90%;
  }

  .main-header {
    font-size: 26px;
  }

}

@media (max-width: 700px) {

  .burger-menu {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 45px;
    z-index: 2;
    /* outline: solid 1px blue; */
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .burger-bars {
    -webkit-transition: all 150ms ease;
    background-color: #fff;
    border-radius: 5px;
    height: 2px;
    margin: 3px 0;
    opacity: 1;
    transition: all 150ms ease;
    width: 35px;
  }

  .burger-bars-remove {
    opacity: 0;
  }

  .burger-bars-rotate-clockwise {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #1E90FF;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
  }

  .burger-bars-rotate-counter-clockwise {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #1E90FF;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
  }

  .burger-overlay {
    -webkit-transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 500ms ease;
    width: 0;
    z-index: 2;
  }

  .burger-overlay-dim {
    opacity: 1;
    width: 100%;
  }

  .header-nav {
    flex-direction: row;
    height: auto;
    left: -100%;
    opacity: 0;
    /* left: 0;
    opacity: 1; */
    padding: 0;
    top: 0;
    transition: left 500ms ease, opacity 500ms ease;
    width: auto;
  }

  .main-container {
    padding: 10px;
    width: 100%;
  }

  .main-header {
    font-size: 22px;
  }

  .navigation-links-toggle {
    opacity: 1;
    left: 0;
  }

  .teams-dropdown-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom: solid 1px #000;
    border-left: none;
    border-right: solid 1px #000;
    padding: 5px 10px;
  }

  .teams-dropdown-container,
  .team-roster-container {
    width: 230px;
  }

  .teams-dropdown-list {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 150px 0 20px 0;
  }

  .main-container {
    border-radius: 0;
  }
}