body {
  font-family: 'Quicksand', sans-serif;
}

.burger-menu {
  display: none;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.footer-logo {
  height: auto;
  margin: 5px auto 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

header h1 {
  background-color: #000;
  font-size: 30px;
  margin: 20px 10px;
}

.header-container {
  height: 0;
  width: 100%;
  position: relative;
}

.header-nav {
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-pack: start;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  height: 0;
  justify-content: flex-start;
  left: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* surrounds player stats and team history tables */
.horizontal-scrolling-container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  overflow-x: auto;
  padding: 40px 25px;
  /* outline: solid 1px blue; */
}

.main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 175px 20px 0 20px;
}

.main-center-logo {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.75));
  -webkit-transform: translate(-50%, -50%);
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.75));
  height: 500px;
  justify-content: center;
  left: 50%;
  opacity: 0.10;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /* outline: solid 1px blue; */
}

.main-center-logo img {
  height: auto;
  width: 100%;
}

.main-container {
  -webkit-box-shadow: 0 0 5px #808080;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #808080;
  min-height: 600px;
  outline: solid 1px #000;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  position: relative;
  width: 80%;
}

.main-data-container {
  min-height: 500px;
  width: 100%;
  margin: 50px auto 0 auto;
  /* outline: solid 1px blue; */
}

.main-header-logo {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-left: 10px;
  width: 65px;
  /* outline: solid 1px blue; */
}

.main-header-logo img {
  height: auto;
  width: 100%;
}

.main-header-name-logo {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 10px 10px;
}

.main-header-name-logo h1 {
  font-size: 30px;
  /* outline: solid 1px blue; */
}

.main-header-container {
  border-bottom: solid 1px #000;
  position: relative;
  width: 100%;
}

.main-header-nav {
  -ms-flex-direction: row;
  -ms-flex-pack: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}

.nhl-copyright-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  margin: 30px 0;
  min-height: 150px;
  padding: 0 10px;
  text-align: center;
  width: 400px;
  /* outline: solid 1px blue; */
}

.player-close-button {
  -webkit-transition: color 150ms ease;
  /* color: #0000CD; */
  color: #1E90FF;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: 25px;
  top: 10px;
  transition: color 150ms ease;
}

.player-close-button:hover {
  /* color: #1E90FF; */
  color: #0000CD;
}

.player-data-container {
  -webkit-transition: height 750ms ease;
  background-color: #F5F5F5;
  border-radius: 5px;
  outline: solid 1px #000;
  font-size: 16px;
  height: auto;
  margin: 0 auto 0 auto;
  overflow: hidden;
  position: relative;
  transition: height 750ms ease;
  width: 90%;
}

.player-history-button {
  -webkit-transition: box-shadow 150ms ease;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  outline: solid 1px #1E90FF;
  padding: 8px 10px;
  transition: box-shadow 150ms ease;
}

.player-history-button:hover {
  -webkit-box-shadow: 0 0 5px #1E90FF;
  box-shadow: 0 0 5px #1E90FF;
}

.player-history-button-container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  /* outline: solid 1px blue; */
}

/* .player-team-history-container {
  -webkit-transform-origin: top;
  -webkit-transform: scaleY(0);
  -webkit-transition: opacity 500ms ease, height 300ms ease, -webkit-transform 300ms ease;
  font-size: 16px;
  height: 0;
  margin: 0 auto 0 auto;
  opacity: 0;
  position: relative;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 500ms ease, height 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 500ms ease, height 300ms ease, transform 300ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, height 300ms ease, transform 300ms ease;
} */

/* moves the center container of player stuff */
/* .player-history-toggle {
  -webkit-transform: scaleY(1);
  height: 200px;
  opacity: 1;
  transform: scaleY(1);
} */

.player-name {
  color: #000;
  font-size: 26px;
  padding: 10px 15px 10px 15px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  /* outline: solid 1px blue; */
}

.player-name-number-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.5);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.player-number {
  /* color: #FF7F50; */
  color: #B22222;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  width: auto;
}

.player-stats,
.player-team-history {
  border-collapse: collapse;
  cursor: default;
  margin: 15px 0 0 0;
  max-width: 100%;
  min-width: 850px;
}

.player-stats tr:nth-child(2) td:first-of-type,
.player-stats tr:nth-child(3) td:first-of-type,
.player-stats tr:nth-child(4) td:first-of-type,
.player-stats tr:nth-child(5) td:first-of-type,
.player-team-history tr:nth-child(2) td:first-of-type,
.player-team-history td:nth-child(1),
.player-team-history td:nth-child(2) {
  background-color: rgba(220, 220, 220, 0.5);
  color: #000;
  font-weight: bold;
  min-width: 135px;
  padding: 5 20px;
}

.player-stats,
.player-stats td,
.player-stats tr,
.player-team-history,
.player-team-history td,
.player-team-history tr {
  border: 1px solid #000;
  padding: 5px 0;
}

.player-stats td,
.player-team-history td {
  font-size: 14px;
  text-align: center;
}

.player-stats th,
.player-team-history th {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  text-align: center;
  min-width: 60px;
  padding: 5px 0;
  min-width: 60px;
}

/* player info like dob weight height */
.player-summary {
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  cursor: default;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  min-width: 825px;
  padding: 0 25px;
  text-align: center;
  /* outline: solid 1px red; */
}

.player-summary li {
  -webkit-box-shadow: 0 0 2px #000;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  font-size: 16px;
  margin: 0 15px 0 0;
  overflow: hidden;
  width: auto;
  /* outline: solid 1px red; */
}

.player-summary li:last-of-type {
  margin: 0 0 0 0;
  /* outline: solid 1px red; */
}

.player-summary li span:first-of-type {
  background-color: #FFDAB9;
  color: #000;
  display: block;
  font-weight: bold;
  padding: 3px 20px;
}

.player-summary li span:last-of-type {
  color: #000;
  font-size: 14px;
  padding: 3px 5px;
}

.player-team-history-container {
  font-size: 16px;
  height: auto;
  margin: 0 auto 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.player-team-history-horizontal-container {
  margin-bottom: 40px;
  padding: 0 25px 0 25px;
}

.roster-dropdown-button,
.teams-dropdown-button,
.team-summary-dropdown-button {
  -webkit-transition: background-color 150ms ease;
  background-color: #F5F5F5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 10px;
  text-align: left;
  transition: background-color 150ms ease;
  width: 100%;
}

.roster-dropdown-button:hover,
.teams-dropdown-button:hover,
.team-summary-dropdown-button:hover {
  background-color: #DCDCDC;
  /* outline: solid 1px blue; */
}

.roster-dropdown-container,
.teams-dropdown-container,
.team-summary-dropdown-container {
  color: #000;
  position: relative;
  margin: 0 5px 0 0;
  width: 255px;
  /* outline: solid 1px red; */
}

.roster-dropdown-container {
  margin-right: 0;
}

.roster-dropdown-container i,
.teams-dropdown-container i,
.team-summary-dropdown-container i {
  -webkit-transition: -webkit-transform 250ms ease;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 12px;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease;
}

/* has to be below the containers above to work */
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.roster-dropdown-list,
.teams-dropdown-list,
.team-summary-dropdown-list {
  -webkit-box-shadow: 0 0 5px #808080;
  -webkit-transition: height 500ms ease, opacity 500ms ease;
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0 0 5px #808080;
  height: 0;
  margin: 10px 0 0 0;
  opacity: 0;
  outline: solid 1px #000;
  overflow-y: scroll;
  text-align: left;
  transition: height 500ms ease, opacity 500ms ease;
  width: 100%;
}

/* has to be after the lists above to work */
.dropdown-list-toggle {
  height: 300px;
  margin-bottom: 10px;
  opacity: 1;
}

.roster-dropdown-list li {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-transition: background-color 150ms ease;
  align-items: center;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  padding: 0 10px 0 0;
  transition: background-color 150ms ease;
  /* outline: solid 1px blue; */
}

.roster-dropdown-list li:hover,
.teams-dropdown-list li:hover {
  background-color: #DCDCDC;
}

.roster-dropdown-name {
  font-weight: bold;
  padding: 10px 0 10px 10px;
  width: 100%;
  /* outline: solid 1px red; */
}

.roster-dropdown-number {
  /* color: #FF7F50; */
  color: #B22222;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-left: 5px;
}

.roster-dropdown-position {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.team-data-container {
  background-color: #F5F5F5;
  border-radius: 5px;
  /* border: solid 1px #000; */
  height: 0;
  margin: 0 auto 0 auto;
  width: 85%;
  z-index: 1;
  /* outline: solid 1px blue; */
}

.team-dropdown-name {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-transition: background-color 150ms ease;
  align-items: center;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  transition: background-color 150ms ease;
}

.team-dropdown-logo {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: none;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
  flex-direction: column;
  height: 35px;
  justify-content: center;
  width: 40px;
  /* outline: solid 1px blue; */
}

.team-dropdown-logo img {
  height: auto;
  width: 100%;
}

.team-site a {
  -webkit-transition: color 150ms ease;
  /* color: #0000CD; */
  color: #1E90FF;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: color 150ms ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* outline: solid 1px red; */
}

.team-site a:hover {
  color: #0000CD;
  /* color: #1E90FF; */
}

.team-site i {
  -webkit-transform: translateY(-50%);
  -webkit-transition: none;
  left: calc(100% + 5px);
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  transition: none;
}

.team-summary-dropdown-list li {
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  /* outline: solid 1px red; */
}

/* .team-summary-dropdown-list li span:first-of-type {
  font-weight: bold;
}

.team-summary-dropdown-list li:first-of-type {
  padding: 10px 10px 5px 10px;
}

.team-summary-dropdown-list li:last-of-type {
  padding: 5px 10px 10px 10px;
} */


.transition-height-container {
  -webkit-transition: grid-template-rows 500ms ease, opacity 500ms ease;
  transition: grid-template-rows 500ms ease, opacity 500ms ease;
  transition: grid-template-rows 500ms ease, opacity 500ms ease, -ms-grid-rows 500ms ease;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: grid-template-rows 500ms ease, opacity 500ms ease;
  width: 100%;
}

/* has to be under the above class to work */
/* toggles center container of player stuff */
.transition-container-toggle {
  opacity: 1;
  grid-template-rows: 1fr;
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transition: all 150ms ease;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  bottom: 15px;
  box-shadow: 0 0 5px #000;
  color: #1E90FF;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 35px;
  height: 45px;
  justify-content: center;
  position: fixed;
  right: -60px;
  text-decoration: none;
  text-shadow: none;
  transition: all 150ms ease;
  width: 45px;
  z-index: 3;
}

.up-arrow:hover {
  color: #0000CD;
}

@media (max-width: 1300px) {

  .team-data-container {
    width: 90%;
  }
}

@media (max-width: 1000px) {

  header h1 {
    font-size: 24px;
  }

  .main-center-logo {
    height: 400px;
    width: 400px;
  }

  .main-container {
    padding: 15px;
    width: 90%;
  }

  .main-header-logo {
    width: 55px;
  }

  .main-header-name-logo h1 {
    font-size: 26px;
  }

  .player-data-container {
    width: 95%;
  }

  .team-data-container {
    width: 95%;
  }
}

@media (max-width: 700px) {

  .burger-menu {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 45px;
    z-index: 2;
    /* outline: solid 1px blue; */
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .burger-bars {
    -webkit-transition: all 150ms ease;
    background-color: #fff;
    border-radius: 5px;
    height: 2px;
    margin: 3px 0;
    opacity: 1;
    transition: all 150ms ease;
    width: 35px;
  }

  .burger-bars-remove {
    opacity: 0;
  }

  .burger-bars-rotate-clockwise {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #1E90FF;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
  }

  .burger-bars-rotate-counter-clockwise {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #1E90FF;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
  }

  .burger-overlay {
    -webkit-transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 500ms ease;
    width: 0;
    z-index: 2;
  }

  .burger-overlay-dim {
    opacity: 1;
    width: 100%;
  }

  .header-nav {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-transition: left 500ms ease, opacity 500ms ease;
    background-color: #000;
    flex-direction: column;
    height: 100vh;
    left: -100%;
    /* opacity: 1; */
    overflow-y: scroll;
    padding: 0 50px 120px 0;
    top: 0;
    transition: left 500ms ease;
    width: auto;
    /* outline: solid 1px blue; */
  }

  .main {
    padding: 110px 20px 0 20px;
  }

  .main-center-logo {
    height: 350px;
    width: 350px;
  }

  .main-container {
    padding: 20px 10px 10px 10px;
    width: 100%;
  }

  .main-header-logo {
    margin-left: 5px;
    /* width: 30px; */
  }

  .main-header-name-logo h1 {
    font-size: 22px;
  }

  .navigation-links-toggle {
    /* opacity: 1; */
    left: 0;
  }

  .player-close-button {
    right: 15px;
    top: 5px;
  }

  .player-data-container {
    width: 100%;
  }

  .player-name {
    font-size: 24px;
    padding: 5px 10px 5px 15px;
  }

  .player-number {
    font-size: 20px;
  }

  .player-history-button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .team-data-container {
    width: 100%;
  }

  .player-close-button:hover,
  .team-site a:hover,
  .up-arrow:hover {
    /* color: #0000CD; */
    color: #1E90FF;
  }

  .teams-dropdown-button {
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #000;
    border-left: none;
    border-right: solid 1px #000;
  }

  .teams-dropdown-container,
  .team-summary-dropdown-container {
    margin-right: 0;
    /* outline: solid 1px red; */
  }

  .teams-dropdown-list,
  .team-summary-dropdown-list {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .team-summary-dropdown-button {
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom: solid 1px #000;
    border-left: none;
    border-right: solid 1px #000;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 110px 0 0 0;
  }

  .main-center-logo {
    height: 300px;
    width: 300px;
  }

  .main-container {
    padding: 20px 0 10px 0;
    border-radius: 0;
  }

  /* .main-header-logo {
    width: 55px;
  } */

  .nhl-copyright-container {
    width: 100%;
  }

  .player-close-button {
    top: 0;
  }

  .player-data-container {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .player-name {
    font-size: 20px;
    padding: 5px 5px 5px 10px;
  }

  .player-number {
    font-size: 18px;
  }

  .roster-dropdown-button {
    border-bottom-right-radius: 0;
  }

  .roster-dropdown-list {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .team-data-container {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}