.all-teams-dropdown-button,
.team-roster-dropdown-button {
  border: solid 1px #000;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: left;
  transition: background-color 150ms ease;
  width: 100%;
  /* outline: solid 1px blue; */
}

.all-teams-dropdown-button:hover,
.team-roster-dropdown-button:hover {
  background-color: #DCDCDC;
  /* outline: solid 1px blue; */
}

.all-teams-dropdown-list,
.team-roster-dropdown-list {
  border: solid 1px #000;
  border-radius: 5px;
  height: 0;
  margin: 5px 0 20px 0;
  opacity: 0;
  overflow-y: scroll;
  transition: height 250ms ease, opacity 250ms ease;
  width: 100%;
  /* outline: solid 1px blue; */
}

.all-teams-dropdown-list li,
.team-roster-dropdown-list li {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 150ms ease;
}

.all-teams-dropdown-list li:hover,
.team-roster-dropdown-list li:hover {
  background-color: #DCDCDC;
}

.dropdown-list-toggle {
  height: 300px;
  opacity: 1;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.footer-logo {
  height: auto;
  margin: 5px auto 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

header {
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
}

.main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
}

.player-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  min-height: 300px;
  padding: 30px 20px;
  width: 400px;
  /* outline: solid 1px blue; */
}

.player-stats-container {
  border: solid 1px #000;
  border-radius: 5px;
  height: 0;
  opacity: 0;
  padding: 5px 10px;
  transition: opacity 250ms ease, transform 500ms ease;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
}

.player-stats li,
.single-team li {
  padding: 5px 10px;
}

.single-team-container {
  border: solid 1px #000;
  border-radius: 5px;
  height: 0;
  opacity: 0;
  padding: 5px 10px;
  transition: opacity 250ms ease, transform 500ms ease;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  /* outline: solid 1px blue; */
}

.single-team-container-toggle {
  height: 100%;
  transform: scaleY(1);
  opacity: 1;
}

.teams-dropdown-container,
.team-roster-container {
  width: 250px;
  /* outline: solid 1px red; */
}

.team-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  min-height: 300px;
  padding: 30px 20px;
  width: 400px;
  /* outline: solid 1px blue; */
}

.team-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  margin: 10px auto 0 auto;
  width: 250px;
  /* outline: solid 1px blue; */
}

.team-logo img {
  height: auto;
  width: 100%;
}

@media (max-width: 700px) {

  .player-info,
  .team-info {
    margin: 0;
    padding: 20px 10px;
    width: 80%;
  }
}

@media (max-width: 400px) {

  .main {
    padding: 10px;
  }

  .player-info,
  .team-info {
    padding: 10px;
    width: 100%;
  }

  .teams-dropdown-container,
  .team-roster-container {
    width: 100%;
    /* outline: solid 1px red; */
  }
}